<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="margin: 1rem;">
<div style="padding: 1rem; border: 1px solid black">

<p>Hi {{ username }},</p>
<span>Welcome to CardGameApp</span>
<p>Thank you for joining the CardGameApp.</p>

<span>Start using CardGameApp by logging in at:</span>
<a href="{{ site_url }}">{{ site_url }}</a>
<p>We hope you enjoy using CardGameApp.</p>
  <div>Thanks,</div>
<div>
The CardGameApp Team
</div>
</body>
</html>