<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="margin: 1rem;">
<div style="padding: 1rem; border: 1px solid black">
<p>Hi {{username}},</p>

You recently requested to reset your password for your account.
<p>Click the button below to reset it.</p>

<div style="text-align: center;">
	<a href="{{ reset_password_url }}">
		<button class="btn-sm btn-default">Reset Password</button>
	</a>
</div>

<p>If you didn't request this, you can ignore this email or let us know. This password reset can only be used once.</p>

<div>Thanks,</div>
<div>The  CardGameApp Team</div>

<div>
</body>
</html>